page-demarrage {

    font-family: BentonSans-Light;

    h3, h1{
    	text-align: center;
    }

    #champs{
    	margin-top: 10%;
    }

    #milieu1{
    	margin-top: 25%;
    	margin-bottom: -15%;
    }

    #milieu2{
    	margin-top: 20%;
    }
}
